
.wrapper {
    height: 340px;
    width: 280px;
    margin: 0 auto;
    box-sizing: border-box;
}

ul {
    color: green;
    font-size: 20px;
    padding:0 0 0 0;	
	margin:0 0 0 0;	
}

ul ol {
    padding-inline-start: 0px;
    padding-bottom: 10px;
}

.button_box {
    height: 250px;
    width: 200px;
}

input {
    width: 280px;
    height: 40px;
    color: white;
    background-color: green;
    border-radius: 5%;
}


